body {
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  background-color: #ffff;
  
}

.timer {
  display: flex;
  justify-content: center; 
  align-items: center;

  gap: 20px;               
  margin-bottom: 30px; 
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  background-color: #F5E050;
  border-radius: 10px;
  font-size: 20px;
}

.value {
  font-size: 30px;
  font-weight: bold;
}

.label {
  font-size: 16px;
  text-transform:lowercase;
  margin-top: 5px;
}

.minions-gallery img {
  width: 200px; 
  height: auto;

  border-radius: 10px;
}
